{% extends 'base.html' %}
    {% block title %} Analytics {% endblock %}
    {% block content %}
    <h1 class="text-center">Analytics</h1>

    <div class="container">
        <div id="plot" style="height: inherit"/>
        <iframe class="container" srcdoc="{{f1}}"></iframe>
     </div>

     <div class="container">
        <div id="plot" style="height: inherit"/>
        <iframe  class="container" srcdoc="{{f2}}"></iframe>
     </div>

     <div class="container">
        <div id="plot" style="height: inherit"/>
        <iframe class="container" srcdoc="{{f3}}"></iframe>
     </div>

     <div class="container">
        <div id="plot" style="height: inherit"/>
        <iframe class="container" srcdoc="{{f4}}"></iframe>
     </div>

     <div class="container">
        <div id="plot" style="height: inherit"/>
        <iframe class="container" srcdoc="{{f5}}"></iframe>
     </div>

    {% endblock %}