{% extends 'base.html' %}
    {% block title %} Log In {% endblock %}
    {% block content %}
<div class="container">
    <h1>Log In</h1>
    <p class="lead"> Log In to Easy Grocery App!</p>
    <form method="POST">
        {{form.hidden_tag()}}

            {% for field in form 
                if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label(class_='col-form-label-lg')}}
                {{field(class_='form-control')}}

                {% for error in field.errors%}
            <span class="form-text text-danger">{{error}}</span>
            {% endfor %}
        </p>
        {% endfor %}
        <button class="btn btn-success btn-lg">Log In</button>
    </form>
</div>
{% endblock%}
