{% extends 'base.html' %}
    {% block title %} Don't forget! {% endblock %}
    {% block content %}
    <div class="container alert alert-warning" id="messages">

    </div>
    <h1 class="text-center">Don't-forget-List</h1>

    <div id="spinner">
    </div>

    <div class="container d-grid gap-2" style="width: 40rem" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <button class="btn btn-primary"   id="btn-add-reminder">Add</button>
    </div>
        
        <div class="container" style="width: 40rem">           
                <ul class="list-group" id="reminder-products">
                </ul> 
        </div>
   
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add item</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="" method="">
                <div class="mb-3">
                    <label class="col-form-label fw-bold" for="search_product">Product</label>
                    <input class="form-control" type="text" id="search_product" name="search_product" placeholder="Add new product" required>
                </div>
                <div class="mb-3">
                    <label class="col-form-label fw-bold"  for="quantity_reminder">Quantity</label>
                    <input class="form-control" type="number" id="quantity_reminder" name="quantity_reminder" placeholder="Enter quantity" required>
                </div>
                
            </form>
            <ul id="suggestions">

            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save-edit">Save changes</button>
          <a href='/external_search' class="btn btn-primary">Advanced Search</a>
        </div>
      </div>
    </div>
  </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script type="module" src="/static/basic-modules/reminders.js"></script>
   
    {% endblock %}