{% extends 'base.html' %}
    {% block title %} Grocery Templates {% endblock %}
    {% block content %}
   
    <div id="spinner">
    </div>

    <div id="create-template">
        <h2>Create a new template</h2>

        <div class="container text-center">
            <form action="" method="">
                <label class="col-form-label" for="template_name">Name</label>
                <input class="form-control-sm" type="text" id="template_name" name="template_name" required>
                <button class="btn btn-success" id="btn-create">Create</button>
            </form>
        </div>
    </div>

  
    <div id="view-template">
        <h2>My Template:</h2>
            <h4 id="my-template-name-view"></h4>
            <button class="btn btn-warning" id="btn-edit-template">Edit</button>
            <button class="btn btn-danger" id="btn-delete-template">Delete</button>
    </div>

    <div id="edit-template">
        
        <h2>My Template - Add/Remove product</h2>
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <form action="" method="">
                            <label class="col-form-label" for="search_product">Product</label>
                            <input class="form-control-sm" type="text" id="search_product" name="search_product" placeholder="Add new product">
                            <button class="btn btn-primary" id="btn-add-product">Add</button>
                        </form>
                        <ul id="suggestions">
            
                        </ul>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 20rem">
                            <ul class="list-group" id="template-products">
            
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

    </div>

   
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script src="/static/templates.js"></script>
    {% endblock %}