{% extends 'base.html' %}
    {% block title %} Grocery Templates {% endblock %}
    {% block content %}
   
    <div id="spinner">
    </div>

    <div id="create-template">
        <h2>Create a new template</h2>

        <div class="container text-center">
            <form action="" method="">
                <label class="col-form-label fw-bold" for="template_name">Name</label>
                <input class="form-control-sm" type="text" id="template_name" name="template_name" minlength="1" required>
                <button class="btn btn-success" id="btn-create">Create</button>
            </form>
        </div>
    </div>

  
    <div id="view-template">
        <h2>My Template:</h2>
            <h4 id="my-template-name-view"></h4>
            <button class="btn btn-warning" id="btn-edit-template">Edit</button>
            <button class="btn btn-danger" id="btn-delete-template">Delete</button>
    </div>

    <div id="edit-template">
        
        <h2>My Template - Add/Remove product</h2>
        <div class="container d-grid gap-2" style="width: 40rem" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <button class="btn btn-primary" id="add-modal">Add</button>
        </div>
            
            <div class="container" style="width: 40rem">           
                    <ul class="list-group" id="template-products">
                    </ul> 
            </div>
   
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="">
                            <div class="mb-3">
                                <label class="col-form-label fw-bold" for="search_product">Product Name</label>
                                <input class="form-control" type="text" id="search_product" name="search_product" minlength="1" required>
                            </div>
                        </form>
                        <ul id="suggestions">

                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn-add-product">Save changes</button>
                        <a href='/external_search' class="btn btn-primary">Advanced Search</a>
                    </div>
                </div>
             </div>
        </div>    
    </div>

   
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script type="module" src="/static/basic-modules/templates.js"></script>
   
    {% endblock %}